body {
	font-family: Arial;
	margin: 30px;
}

h1 {
	color: #D33381;	
}

.error {
	color: #D33381;
	font-weight: bold;
		
}
.ui-bordered {
	margin-top: 20px; 
	padding: 0.7em; 
	border: 1px solid #212121;
}

.pseudoTd {
	float: left;
}

.table-row {background: #FFC none;
			border: 1px solid black;
			color: black;
			margin-bottom: 0px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 0px;
			padding: 0px;
			text-align: center;
			width: 96%;
}
.table-cell {border: none;
			float: left;
			margin: 0px;
			padding: 0px;
			width: 20%;
}
.table-clear {
				clear: both;
				margin: 0px;
				padding: 0px;
				width: auto;
}