body {
	font-family: Arial;
	margin: 30px;
}

h1 {
	color: #D33381;	
}

.error {
	color: #D33381;
	font-weight: bold;
		
}
.ui-bordered {
	margin-top: 20px; 
	padding: 0.7em; 
	border: 1px solid #212121;
}

.pseudoTd {
	float: left;
}
